<div class="container">
  <div class="row">
    <% @products.each do |product| %>

      <div class="col-sm-6 col-md-4">
        <a  class = "" href = "<%= product_path(product)%>">
          <div class="thumbnail">
            <h2 class = "center-text"><%= product.title%></h2>
            <div class="caption">
              <h3>Here have to be name</h3>
              $ <%= product.price%>
            </div>
          </div>
        </a>
      </div>

    <% end %>
  </div>
  <% if current_user && current_user.admin? %>
  <%= link_to "Add product", new_product_path(@products)%>
  |
  <%= link_to "Add category", new_category_path(@categories), class:'navbar-link'%>
  <% end %>
</div>
